.background {
  background: center no-repeat url(https://raw.githubusercontent.com/vorlan/muzecast-chromecast/master/CastBackground.jpg);
  opacity:0.5;
-webkit-filter: blur(35px);
-moz-filter: blur(35px);
-o-filter: blur(35px);
-ms-filter: blur(35px);
filter: blur(35px);
}

.logo {
  background-image: url(Icon512.jpg);
}

.progressBar {
  background-color: #63b4fb;
}

.splash {
  background-image: url(banner2.png);
}

.watermark {
  background-image: url(logo.png);
  background-size: 57px 57px;
}